<h1>Produtos</h1>
<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Produto -->
    <section class="produto-add">
      <dx-button
        text="Adicionar Produto"
        icon="plus"
        type="default"
        stylingMode="contained"
        routerLink="/nfe/produtos/criar"
      ></dx-button>
    </section>

    <!-- Filtro Produto -->
    <section class="search">
      <dx-text-box
        class="inputSearch"
        placeholder="Digite para buscar"
        width="500"
        valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de produto -->
    <section class="produto-lista">
      <dx-data-grid
        [dataSource]="produtos"
        keyExpr="codigo"
        [showBorders]="false">

        <dxi-column dataField="codigo" caption="Código"></dxi-column>
        <dxi-column dataField="descricao"  caption="Descrição"></dxi-column>
        <dxi-column dataField="valorUnitario" caption="Valor Unitário"></dxi-column>

        <!-- Ações -->
        <dxi-column caption="Ações" cellTemplate="acoesTemplate" [width]="120" [allowSorting]="false"></dxi-column>
        <div *dxTemplate="let cell of 'acoesTemplate'">
          <!-- BT Edit -->
          <dx-button
            icon="edit"
            type="default"
            stylingMode="text"
            hint="Editar"
            [routerLink]="['/nfe/produtos/edit', cell.data.codigo]">
          </dx-button>

          <!-- BT Excluir -->
          <dx-button
            icon="trash"
            type="default"
            stylingMode="text"
            hint="Excluir"
            (onClick)="excluirProduto(cell.data.codigo)">
          </dx-button>
        </div>

      </dx-data-grid>
    </section>
  </div>
</div>
