<h1>Clientes</h1>
<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Cliente -->
    <section class="cliente-add">
      <dx-button
        text="Adicionar Cliente"
        icon="plus"
        type="default"
        stylingMode="contained"
        routerLink="/nfe/clientes/criar"
      ></dx-button>
    </section>

    <!-- Filtro Cliente -->
    <section class="search">
      <dx-text-box
        class="inputSearch"
        placeholder="Digite para buscar"
        width="500"
        valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de cliente -->
    <section class="cliente-lista">
      <dx-data-grid
        [dataSource]="clientes"
        keyExpr="codigo"
        [showBorders]="false">

        <dxi-column dataField="codigo" caption="Código"></dxi-column>
        <dxi-column dataField="nome"  caption="Nome"></dxi-column>

        <!-- Ações -->
        <dxi-column caption="Ações" cellTemplate="acoesTemplate" [width]="120" [allowSorting]="false"></dxi-column>
        <div *dxTemplate="let cell of 'acoesTemplate'">
          <!-- BT Edit -->
          <dx-button
            icon="edit"
            type="default"
            stylingMode="text"
            hint="Editar"
            (onClick)="editarCliente(cell.data.codigo)">
          </dx-button>

          <!-- BT Excluir -->
          <dx-button
            icon="trash"
            type="default"
            stylingMode="text"
            hint="Excluir"
            (onClick)="excluirCliente(cell.data.codigo)">
          </dx-button>
        </div>

      </dx-data-grid>
    </section>
  </div>
</div>
