<h1>Nota Fiscal</h1>
<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Nota -->
    <section class="nota-fiscal-add">
      <dx-button
      text="Gerar Nota Fiscal"
      icon="plus"
      type="default"
      stylingMode="contained"
      routerLink="/nfe/notas/criar"
      ></dx-button>
    </section>

    <!-- Filtro nota-fiscal -->
    <section class="search">
      <dx-text-box
      class="inputSearch"
      placeholder="Digite para buscar (Nº NF /Nome Fornecedor)"
      width="500"
      valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de nota-fiscal -->
    <section class="nota-fiscal-lista">
      <dx-data-grid
      [dataSource]="notas"
      keyExpr="id"
      [showBorders]="false">

        <dxi-column dataField="numero" caption="Número"></dxi-column>
        <dxi-column dataField="codigoCliente" caption="Cliente"
                    cellTemplate="clienteCellTemplate"></dxi-column>
        <dxi-column dataField="dataEmissao" caption="Emissão"
                    editorType="dxDateBox"
                    dataType="date"
                    format="dd/MM/yyyy">
        </dxi-column>

        <!-- Nome + Código -->
        <div *dxTemplate="let cell of 'clienteCellTemplate'">
          <span>{{ cell.data.cliente?.codigo }} - {{ cell.data.cliente?.nome }}</span>
        </div>

        <!-- Ações -->
        <dxi-column caption="Ações" cellTemplate="acoesTemplate" [width]="120" [allowSorting]="false"></dxi-column>
        <div *dxTemplate="let cell of 'acoesTemplate'">
          <!-- BT Edit -->
          <dx-button
            icon="edit"
            type="default"
            stylingMode="text"
            hint="Editar"
            [routerLink]="['/nfe/notas/edit', cell.data.numero]">
          </dx-button>

          <!-- BT Excluir -->
          <dx-button
            icon="trash"
            type="default"
            stylingMode="text"
            hint="Excluir"
            (onClick)="excluirNota(cell.data.numero)">
          </dx-button>

        </div>
      </dx-data-grid>
    </section>
  </div>
</div>
