<h1>Nota Fiscal</h1>
<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Nota -->
    <section class="nota-fiscal-add">
      <dx-button
      text="Gerar Nota Fiscal"
      icon="plus"
      type="default"
      stylingMode="contained"
      routerLink="/nfe/notas/criar"
      ></dx-button>
    </section>

    <!-- Filtro nota-fiscal -->
    <section class="search">
      <dx-text-box
      class="inputSearch"
      placeholder="Digite para buscar (Nº NF /Nome Fornecedor)"
      width="500"
      valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de nota-fiscal -->
    <section class="nota-fiscal-lista">
      <dx-data-grid

      [dataSource]="notas"
      ></dx-data-grid>
    </section>
  </div>
</div>
