<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Nota -->
    <section class="nota-fiscal-add">
      <dx-button
      text="Novo"
      icon="plus"
      type="default"
      stylingMode="contained"
      ></dx-button>
    </section>

    <!-- Filtro nota-fiscal -->
    <section class="search">
      <dx-text-box
      class="inputSearch"
      placeHolder="Digite para buscar (Nº / Fornecedor)"
      width="350"
      valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de nota-fiscal -->
    <section class="nota-fiscal-lista">
      <dx-data-grid
      ></dx-data-grid>
    </section>
  </div>
</div>
