<h2>Documentos Fiscais</h2>
<div class="content-block">
  <!-- Container Pai & Abaixo do Título -->
  <div class="dx-card responsive-paddings">

    <!-- Criar Nota -->
    <section class="documentos-add">
      <dx-button
      text="Novo"
      icon="plus"
      type="default"
      stylingMode="contained"
      //routerLink="/create-documento"
      (onClick)="createDocumento()"
      ></dx-button>
    </section>

    <!-- Filtro Documentos -->
    <section class="search">
      <dx-text-box
      class="inputSearch"
      placeHolder="Digite para buscar (Nº / Fornecedor)"
      width="350"
      // [(value)]="filtroPorFornecedor"
      valueChangeEvent="keyup"
      ></dx-text-box>
    </section>

    <!-- Listagem de Documentos -->
    <section class="documentos-lista">
      <dx-data-grid
      [dataSource]=""
      ></dx-data-grid>
    </section>
  </div>
</div>
